################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
/Autofac.Packaging/*.bak
/Autofac.Packaging/*.nupkg
*.userprefs
*.suo
/Autofac.Packaging/lib/
Nuget.log